* {
  box-sizing: border-box;
}

html{
    scroll-behavior: smooth;

}

body {
  margin: 0;
  font-family: Roboto, "sans-serif";
}


h1 {
  font-size: 3.5em;
}
h2 {
  font-size: 2.7em;
}
h3 {
  font-size: 2em;
}
p {
  font-size: 1.25em;
}
ul {
  list-style: none;
}

.color-acento {
  color: blueviolet;
}

button {
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: white;
  background: blueviolet;
}

button:hover {
  background: rgb(101, 33, 165);
}

.container {
  max-width: 1400px;
  margin: auto;
}

header {
  background: rgb(245, 245, 245);
}

header .logo {
  margin: 0;
  padding: 25px 30px;
  font-weight: bold;
  color: blueviolet;
  font-size: 1.45em;
}

header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 25px;
}

header a {
  padding: 5px 12px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

header a:hover {
  color: blueviolet;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 90vh;
  color: white;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("media/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#hero button{
  font-size: 1.75em;  
}

#hero h1 {
  color: white;
}

#somos-w {
}

#somos-w .container {
  text-align: center;
  padding: 200px 12px;
}

#nuestros-programas {
  background: rgb(30, 30, 30);
  color: white;
  text-align: center;
}

#nuestros-programas .container {
  padding: 100px 12px;
}

#nuestros-programas h2 {
  margin-top: 0;
  font-size: 3.2em;
}

#nuestros-programas p {
  display: none;
}

#nuestros-programas .cartas {
    background-position: center center;
    background-size: cover;
    padding: 40px 0px;
    margin: 30px;
    border-radius: 12px;
}

.cartas:first-child {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("media/front-end.jpg");
}

.cartas:nth-child(2) {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("media/full-stack.jpg");
}

.cartas:last-child {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("media/python.jpg");
}


#caracteristicas .container{
    text-align: center;
    padding: 100px 30px;
}

#caracteristicas li{
    margin: 12px 0px;
    font-weight: bold;
}

#final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgb(30, 30, 30);
    color: white;
    height: 80vh;
}
#final h2{
    font-size: 9vw;
}

#final button{
    font-size: 1.50em;
}

footer{
    background: rgb(230, 230, 230);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100, 100, 100);
}

footer .container{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 720px){
    
    header{
        position: fixed;
        width: 100%;
        background: rgba(245, 245, 245, 0.6)
    }
    header .container{
        flex-direction: row;
        justify-content: space-between;

    }
    header nav{
        flex-direction: row;
        align-items: center;
        padding-bottom:0 ;
        padding-right: 20px;
    }
    #hero h1{
        font-size: 5em;
    }
    #somos-w .container{
        display: flex;
        justify-content: space-evenly;
    }

    #somos-w .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 40px;
    }


    #somos-w .img-container{
        background-image:url("media/somos-proya.jpg");
            background-size: cover;
            background-position: center center;
            height: 500px;
            width: 400px;

    }

    #nuestros-programas .programas{
        display: flex;
        justify-content: center;    
    }

    #nuestros-programas p{
        display: block;
        margin: 30px 0px;
    }
    #nuestros-programas h2{
        font-size: 4em;
    }
    #nuestros-programas h3{
        margin-top: 0;
        flex-wrap: wrap;
    }
    #nuestros-programas .cartas{
        padding: 50px 10px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 0.5);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);

    }
    .cartas:first-child {
        background-image: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
          ),
          url("media/front-end-cropped.jpg");
      }
      
      .cartas:nth-child(2) {
        background-image: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
          ),
          url("media/full-stack-cropped.jpg");
      }
      
      .cartas:last-child {
        background-image: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
          ),
          url("media/python-cropped.jpg");
      }

      #caracteristicas{

      }

      #caracteristicas .container{
        text-align: initial;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        
      }

      #caracteristicas .img-container{
        background-image:url("media/background-2.jpeg");
        background-size: cover;
        background-position: center center;
        width: 400px;
        height: 500px;
      }
      #caracteristicas ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 2.5em;
      }

      #final h2{
        font-size: 5em;
      }
      #final button{
        font-size: 2em;
      }

      footer .container{
        justify-content: flex-end;
      }
}